
<div class="wideRow erFormField">
    <label for="tit"  class="itemNarrow">1. Título:</label>
    <input autofocus type="text" class="customInput itemWide" id="tit" name="title" value="<%= escapeRoom.title %>" placeholder="¿Cómo se llama tu Escape Room?" autocomplete="off"/>
</div>

<div class="wideRow erFormField">
    <label for="subj"  class="itemNarrow">2. Asignatura:</label>
    <input type="text" class="customInput itemWide" id="subj" name="subject" value="<%= escapeRoom.subject %>" placeholder="¿A qué asignatura pertenece esta actividad?" autocomplete="off"/>
</div>

<div class="wideRow erFormField">
    <label for="dur"  class="itemNarrow">3. Duración (min.):</label> <% escapeRoom.invitation = Math.random().toString(36).substr(2)%>
    <input type="number" type="text" class="customInput itemWide" id="dur" name="duration" value="<%= escapeRoom.duration %>" placeholder="¿Cual es el tiempo máximo del que disponen los alumnos?" autocomplete="off"/>
</div>

<div class="wideRow erFormField">
    <label for="desc"  class="itemNarrow">4. Descripción:</label>
    <input type="text" class="customInput itemWide" id="desc" name="description" value="<%= escapeRoom.description %>" placeholder="Escribe la descripción de tu Escape Room. Esta será la información que se les presentará a los alumnos" autocomplete="off"/>
</div>

<div class="wideRow erFormField">
    <label for="vid"  class="itemNarrow">5. Video:</label>
    <input type="text" class="customInput itemWide" id="vid" name="video" value="<%= escapeRoom.video %>" placeholder="URL del vídeo de presentación de la Escape Room" autocomplete="off"/>
</div>

<div class="wideRow erFormField">
    <label for="vid"  class="itemNarrow">6. Número máximo de participantes:</label>
    <input type="number" min="1" class="customInput itemWide" id="nm" name="nmax" value="<%= escapeRoom.nmax %>" placeholder="¿Cuántos participantes puede haber en cada turno?" autocomplete="off"/>
</div>

<br/>
<div class="wideRow erFormField">
    <label class="itemNarrow">8. Miniatura:</label>
    <input class="attach" type="file" id="img" name="image"/>
    <label for="img" class="fileUpload customInput itemWide">
      <span id="imgLabel" >
        <% if (escapeRoom.id && escapeRoom.attachment) { %>
          <%= escapeRoom.attachment.filename ||  "Default" %>
        <% } else { %>
          No has subido ningún fichero
        <% } %>
      </span>
      <span id="upload"
        <% if (escapeRoom.id && escapeRoom.attachment) { %>
          style="display: none;"
        <% } %>
        class="fileUploadButton">
          <i class="material-icons">file_upload</i>
      </span>
      <span id="delete"
        <% if (!escapeRoom.id && !escapeRoom.attachment) { %>
          style="display: none;"
        <% } %>
        class="fileUploadButton">
          <i class="material-icons">delete</i>
        </span>
      <input type="hidden" name="keepAttachment" id="keepAttachment" value="<%= (escapeRoom.id && escapeRoom.attachment) ? "1" : "0" %>" >
    </label>
</div>

<br/>
<!--
<% if (escapeRoom.id) { %>
    <label for="img">Mantener la imagen de la Escape Room:</label>
    <input type="checkbox" name="keepAttachment" value="1" checked>
<% } %>

 -->

<div class="align-right">
    <% if (escapeRoom.id) { %>

    <a href="/escapeRooms/<%= escapeRoom.id %>">
      <button class="progress-buttons" id="exit" type="button">volver</button>
    </a>
  <% } %>
  <% if (!escapeRoom.id) { %>
    <a href="/users/<%= session.user.id %>/escapeRooms">
      <button class="progress-buttons" id="exit" type="button">cancelar</button>
    </a>
  <% } %>
  <button class="progress-buttons" type ="submit">siguiente</button>
</div>

<br/><br/><br/><br/><br/><br/>
<script type="text/javascript">

$(function(){
    var last_known_scroll_position = 0;
    var ticking = false;

    window.addEventListener('scroll', function(e) {
      last_known_scroll_position = window.scrollY;
      if (!ticking) {
        window.requestAnimationFrame(function() {
          // doSomething(last_known_scroll_position);
          ticking = false;
          var x = e.clientX, y = e.clientY,
            elementMouseIsOver = document.querySelectorAll( ":hover" );
            try {
                [...elementMouseIsOver].filter(a=>a.classList.contains('erFormField'))[0].children[1].focus()
            } catch(e) {

            }
        });
      }
      ticking = true;
    });

    $('#img').on("change", function(e){
      let path = $(this).val();
      try {
        let fileNameArr = path.split("\\");
        let fileName = fileNameArr[fileNameArr.length - 1];
        if(fileName) {
          $('#delete').show();
          $('#upload').hide();
          $('#imgLabel').html(fileName);
        }
      } catch (e) {
          $('#delete').hide();
          $('#upload').show();
          $('#imgLabel').html("No has subido ninguna imagen");
      }
    });

    $('#delete').on('click', function(e){
        e.preventDefault();
        $('#delete').hide();
        $('#upload').show();
        $('#imgLabel').html("No has subido ninguna imagen");
        $('#keepAttachment').val("0");
    })

/*    $('.customInput').on('focus', function(e){
      elementMouseIsOver = document.querySelectorAll( ":hover" );
      try {
          [...elementMouseIsOver].filter(a=>a.classList.contains('erFormField'))[0].children[1]
      } catch(e) {
          var el = $( e.target);
          var elOffset = el.offset().top;
          var elHeight = el.height();
          var windowHeight = $(window).height();
          var offset;

          if (elHeight < windowHeight) {
            offset = elOffset - ((windowHeight / 2) - (elHeight / 2));
          }
          else {
            offset = elOffset;
          }
          var speed = 700;
          $('html, body').animate({scrollTop:offset}, speed);
      }

    })*/

})




</script>



<%- include('../partials/__progress', {progress: 0}) %>
