
<body class="login">
<div class="wideRow">
    <label for="tit"  class="itemNarrow">Título:</label>
    <input type="text" class="itemWide" id="tit" name="title" value="<%= escapeRoom.title %>" placeholder="Escriba" autocomplete="off"/>
</div>

<div class="wideRow">
    <label for="tit"  class="itemNarrow">Profesor/a:</label>
    <input type="text" class="itemWide" id="tit" name="teacher" value="<%= escapeRoom.title %>" placeholder="Escriba" autocomplete="off"/>
</div>

<div class="wideRow">
    <label for="subj"  class="itemNarrow">Asignatura:</label>
    <input type="text" class="itemWide" id="subj" name="subject" value="<%= escapeRoom.subject %>" placeholder="Escriba" autocomplete="off"/>
</div>

<div class="wideRow">
    <label for="dur"  class="itemNarrow">Duración:</label>
    <input type="text" class="itemWide" id="dur" name="duration" value="<%= escapeRoom.duration %>" placeholder="Escriba" autocomplete="off"/>
</div>

<div class="wideRow">
    <label for="desc"  class="itemNarrow">Descripción:</label>
    <input type="text" class="itemWide" id="desc" name="description" value="<%= escapeRoom.description %>" placeholder="Escriba" autocomplete="off"/>
</div>

<div class="wideRow">
    <label for="vid"  class="itemNarrow">Video:</label>
    <input type="text" class="itemWide" id="vid" name="video" value="<%= escapeRoom.video %>" placeholder="Escriba" autocomplete="off"/>
</div>

<div class="wideRow">
    <label for="vid"  class="itemNarrow">Número máximo de participantes:</label>
    <input type="text" class="itemWide" id="nm" name="nmax" value="<%= escapeRoom.nmax %>" placeholder="Escriba" autocomplete="off"/>
</div>

<div class="wideRow">
    <label for="inv"  class="itemNarrow">Invitación:</label>
    <input type="text" class="itemWide" id="inv" name="invitation" value="<%= escapeRoom.invitation %>" placeholder="Escriba" autocomplete="off"/>
</div>

<br/>

<label for="img">Miniatura:</label>
<input type="file" id="img" name="image"/>

<br/>

<% if (escapeRoom.id) { %>
    <label for="img">Mantener la imagen de la Escape Room:</label>
    <input type="checkbox" name="keepAttachment" value="1" checked>
<% } %>


<a href="/users/<%= session.user.id %>/escapeRooms"><button type="button">Cancelar</button></a>


<button type="submit" value="Save">Aceptar</button>

<footer>
    <img src="/images/logo.png" width="10%" style=" margin-top: 100px"/>
    <img src="/images/ESCUDO_UPM.png" width="5%" style=" margin-top: 100px; float: right"/>
</footer>
</body>