<% include _header.ejs %>   
<div class="main escapeRooms">
 
    <div class="escapeRoomList">
        <% if (escapeRooms==0) { %>
        <h1>
            No has creado ninguna escape room, gestiónalas desde aquí...
        </h1>
        <div class="flexBoxEscapeRooms">
            <a href="/escapeRooms/new"><div class="escapeRoomItem addEscapeRoom animated rubberBand" style="animation-delay: 1.5s"><span>+</span></div></a>
        </div>
        <% } else {  %>
        <h1>
            Gestiona las escape rooms desde aquí...
        </h1>

        <div class="flexBoxEscapeRooms">

            <% for (var i in escapeRooms) { %>
                <% var escapeRoom = escapeRooms[i]; %>
                <% var attachment = escapeRoom.attachment; %>
                <a href="/escapeRooms/<%= escapeRoom.id %>" class="animated bounceIn" style="animation-delay: <%=100*i%>ms;">
                    <div class="escapeRoomItem">
                        <div class="erFoto" style="text-align: center">
                            <div class="bckgFoto" style="background-image: url(<% if (attachment) {%><%=attachment.url%><%} else {%>/images/placeholder.png<%}%>)"></div>
                            <div class="escapeRoomTitle"><%= escapeRoom.title %></div>
                        </div>
                    </div>
                </a>
            <% } %>
            <a href="/escapeRooms/new" class=" animated bounceIn">
                <div class="escapeRoomItem addEscapeRoom" style="animation-delay: <%=escapeRooms ? (escapeRooms.length * 100 + 100): 0 %>ms;">
                    <span>+</span>
                </div>
            </a>
        </div>
        <% } %>
    </br>
    <% include ../partials/__footer %>
</div>
