
<h1>
    Ver Escape Room:
</h1>

<ul>
    <li>Título: <b><%= escapeRoom.title %></b></li>
    <li>Profesor: <b><%= escapeRoom.teacher %></b></li>
    <li>Asignatura: <b><%= escapeRoom.subject %></b></li>
    <li>Duración: <b><%= escapeRoom.duration %></b></li>
    <li>Descripción: <b><%= escapeRoom.description %></b></li>
    <li>Vídeo: <b><%= escapeRoom.video %></b></li>
    <li>Invitación: <b><%= escapeRoom.invitation %></b></li>
</ul>


<a href="/escapeRooms"><button>Go back</button></a>