<% include _header.ejs %>
<div class="main">
  <div class="half-flex-container">
    <div class="left-half-flex">
        <h2 >Apariencia</h2>
        <img class="buttonApp <%= escapeRoom.appearance  === "litera" ?  "selected" : "" %>" id="litera" src="/images/litera.png" autocomplete="off"/>
        <img class="buttonApp <%= escapeRoom.appearance  === "cerulean" ?  "selected" : "" %>" id="cerulean" src="/images/cerulean.png" autocomplete="off"/>
        <img class="buttonApp <%= escapeRoom.appearance  === "journal" ?  "selected" : "" %>" id="journal" src="/images/journal.png" autocomplete="off"/>
        <img class="buttonApp <%= escapeRoom.appearance  === "sketchy" ?  "selected" : "" %>" id="sketchy" src="/images/sketchy.png" autocomplete="off"/>
        <img class="buttonApp <%= escapeRoom.appearance  === "darkly" ?  "selected" : "" %>" id="darkly" src="/images/darkly.png" autocomplete="off"/>
        <img class="buttonApp <%= escapeRoom.appearance  === "cyborg" ?  "selected" : "" %>" id="cyborg" src="/images/cyborg.png" autocomplete="off"/>
      <script>
        var url = '/escapeRooms/<%= escapeRoom.id %>/preview?appearance=';
        window.onload = function() {
          let anchors = document.getElementsByClassName('buttonApp');
          for(var i = 0; i < anchors.length; i++) {
            let anchor = anchors[i];
            anchor.onclick = function() {
              let input = document.getElementById('appearance');
              let oldSelected = document.getElementById(input.value);
              input.value = anchor.id;
              if (oldSelected) {
                oldSelected.classList.remove('selected');
              }
              document.getElementById('previewIframe').src = url + anchor.id;
              this.classList.add('selected')
            }
          }
        }
      </script>
    </div>
    <div class="right-half-flex">
      <div class="preview">
        <iframe id="previewIframe" src='/escapeRooms/<%= escapeRoom.id %>/preview?appearance=litera'></iframe>
      </div>
    </div>
  </div>
  <form method='POST' action='/escapeRooms/<%= escapeRoom.id %>/step1'  >
    <input type="hidden" id="appearance" name="appearance" value="<%= escapeRoom.appearance  || "litera" %>" />
    <div class="align-right"><button type="submit">siguiente</button></div>
  </form>
<br/>
<br/>
<br/>
<br/>
</div>

<% include ../partials/__footer %>
<%- include ('../partials/__progress', {progress: 1}) %>
