<% include ../../partials/_header.ejs %>
<div class="main step-evaluation">
  <h2>Evaluación</h2>
	<p class="intro-paragraph">Puedes utilizar <a target="_blank" href="https://docs.google.com/forms/u/0/">Google Forms</a> o <a target="_blank" href="https://www.typeform.com/es/">TypeForm</a> para crear las encuestas y cuestionarios de tu escape room</p>
  <form method='POST' class="basicConfig" action='/escapeRooms/<%= escapeRoom.id %>/evaluation'  >
  	<div class="wideRow erFormField">
  	    <label for="tit"  class="itemNarrow">1. Pre-test:</label>
  	    <input autofocus type="text" class="customInput itemWide" id="pretest" name="pretest" value="<%= escapeRoom.pretest %>" placeholder="Escribe el enlace al pre-test" autocomplete="off"/>
  	</div>
  	<div class="wideRow erFormField">
  	    <label for="subj"  class="itemNarrow">2. Post-test:</label>
  	    <input type="text" class="customInput itemWide" id="posttest" name="posttest" value="<%= escapeRoom.posttest %>" placeholder="Escribe el enlace al post-test" autocomplete="off"/>
  	</div>
  	<div class="wideRow erFormField">
  	    <label for="subj"  class="itemNarrow">3. Encuesta:</label>
  	    <input type="text" class="customInput itemWide" id="survey" name="survey" value="<%= escapeRoom.survey %>" placeholder="Escribe el enlace a la encuesta" autocomplete="off"/>
  	</div>
	  <br>
	  <br>
	  <div class="align-right" style="margin-bottom: 60px;">
		<a href="/escapeRooms/<%= escapeRoom.id %>"><button class="progress-buttons" type="button" value="exit" id="exit" name="exit">salir</button></a>
  	  <button class="progress-buttons" type="submit" value="previous" id="previous" name="previous">anterior</button>
  	  <button class="progress-buttons" type="submit" value="next" id="next" name="next">finalizar</button>
  	</div>
      <%- include('../../partials/__progress', {progress: 6}) %>
  </form>
	<br>
	<br>
</div>

<% include ../../partials/__footer %>
<% include ../../partials/__scrollListener %>
