<% include ../../partials/_header.ejs %>
<div class="main step-hints">
  	<h2>Pistas</h2>
  	<form class="basicConfig" method='POST' action='/escapeRooms/<%= escapeRoom.id %>/hints' enctype="multipart/form-data" >
	  	<h3 id="pistasQuestion">¿Va a haber pistas en tu escape room?</h3>
	  	<input class="attach" style="display: none;" type="file" id="hints" name="hints"/>
	  	<label for="hints" class="fileUpload customInput itemWide">
	  	  <span id="hintsLabel" >
	  	    <% if (escapeRoom.id && escapeRoom.hintApp) { %>
	  	      <%= escapeRoom.hintApp.filename ||  "file" %>
	  	    <% } else { %>
	  	      No has subido ningún fichero
	  	    <% } %>
	  	  </span>
	  	  <span id="upload"
	  	    <% if (escapeRoom.id && escapeRoom.hintApp) { %>
	  	      style="display: none;"
	  	    <% } %>
	  	    class="fileUploadButton">
	  	      <i class="material-icons">file_upload</i>
	  	  </span>
	  	  <span id="delete"
	  	    <% if (!escapeRoom.id && !escapeRoom.hintApp) { %>
	  	      style="display: none;"
	  	    <% } %>
	  	    class="fileUploadButton">
	  	      <i class="material-icons">delete</i>
	  	    </span>
	  	  <input type="hidden" name="keepAttachment" id="keepAttachment" value="<%= (escapeRoom.id && escapeRoom.hintApp) ? "1" : "0" %>" >
	  	</label>
	  	<p id="yourScorm">Crea tu propio paquete de pistas SCORM <button type="button" class="progress-buttons" id="opener">crear</button></p>
		<br/><br/><br/>
	  	<div class="align-right">
			<a href="/escapeRooms/<%= escapeRoom.id %>"><button class="progress-buttons" type="button" value="exit" id="exit" name="exit">salir</button></a>
			<button class="progress-buttons" type="submit" value="previous" id="previous" name="previous">anterior</button>
			<button class="progress-buttons" type="submit" value="next" id="next" name="next">siguiente</button>
		</div>
  	</form>

</div>
<div id="dialog-rescorm" title="Crea tu propio paquete SCORM">
  <iframe id="rescorm" src="https://sonsoleslp.github.io/rescorm-generator/"></iframe>
</div>
<% include ../../partials/__footer %>
<%- include('../../partials/__progress', {progress: 4}) %>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	$( function() {
		$( "#dialog-rescorm" ).dialog({
		  autoOpen: false,
		  resizable: false,
		  width: screen.width*0.8,
		  height: screen.height*0.75,
		  show: {
			effect: "blind",
			duration: 100
		  },
		  hide: {
			effect: "blind",
			duration: 400
		  },
		  appendTo: '.main',
          modal: true,
		});

		$( "#opener" ).on( "click", function() {
		  $( "#dialog-rescorm" ).dialog( "open" );
		});


		$('#hints').on("change", function(e){
		  let path = $(this).val();
		  try {
		    let fileNameArr = path.split("\\");
		    let fileName = fileNameArr[fileNameArr.length - 1];
		    if(fileName) {
		      $('#delete').show();
		      $('#upload').hide();
		      $('#hintsLabel').html(fileName);
		    }
		  } catch (e) {
		      $('#delete').hide();
		      $('#upload').show();
		      $('#imgLabel').html("No has subido ningún fichero");
		  }
		});

		$('#delete').on('click', function(e){
		    e.preventDefault();
		    $('#delete').hide();
		    $('#upload').show();
		    $('#hintsLabel').html("No has subido ningún fichero");
		    $('#keepAttachment').val("0");
		})
	});
</script>