<%if (!user.id) {%>
<h1 class="loginWelcomeMessage">
    Regístrate:
</h1>
    <form method="post" action="/users">
<%}else{%>
    <form method="post" action="/users/<%=user.id%>?_method=PUT%>">
<%}%>

<div>
         <label for="name"><span>Nombre</span>
         <input type="text" class="customInput" id="name" name="name" value="<%= user.name %>" required placeholder="Introduce tu nombre" autocomplete="off"/> </label>
</div>
<br />
<div>
         <label for="surname"><span>Apellidos</span>
        <input type="text" class="customInput" id="surname" name="surname" value="<%= user.surname %>" required placeholder="Introduce tus apellidos" autocomplete="off"/></label>
</div>
<br />
<div>
        <label for="gender"><span>Género</span>
        <select  required class="customInput" id="gender" name="gender" value="<%= user.gender %>" placeholder="Selecciona tu género" autocomplete="off">
            <option value="" disabled <%= !user.id ? "selected" : ""%>> </option>
            <option value="Femenino" <%= user.gender === "Femenino" ? "selected" : ""%>>Mujer</option>
            <option value="Masculino" <%= user.gender === "Masculino" ? "selected" : ""%>>Hombre</option>
            <option value="Otro" <%= user.gender === "Otro" ? "selected" : ""%>>Otro</option>
        </select></label>
</div>
<br />
<div>
        <label for="username"><span>Email</span>
        <input type="email" <%=user.id?"disabled":""%> class="customInput" id="username" name="username" value="<%= user.username %>" required placeholder="Introduce tu email" autocomplete="off"/></label>
</div>
<br />
<div>
    <label for="dni"><span>DNI</span>
        <input type="dni" <%=user.id?"disabled":""%> class="customInput" id="dni" name="dni" value="<%= user.dni %>" required placeholder="Introduce tu DNI" autocomplete="off"/></label>
</div>
<br />
<div>
        <label for="user_password"><span>Contraseña</span>
        <input type="password" class="customInput" id="user_password" name="password" required placeholder="Introduce tu contraseña" autocomplete="off"/></label>
</div>
<br />
<div>
        <label for="user_confirm_password"><span>Confirmar contraseña</span>
        <input type="password" class="customInput" id="user_confirm_password" required placeholder="Introduce tu contraseña" autocomplete="off"/></label>
</div>
<br />
<%if (!user.id) {%>
    <button class="registro" type="submit" value="Save" onclick="return (confirmPassword() && confirmDNI())">regístrate</button>
    <br />
    <br />
    <a class="login" href="/">¿Ya tienes cuenta?</a>
<%} else {%>
    <button class="save" type="submit" value="edit" onclick="return confirmPassword()">guardar</button>

<%} %>


<script>
    function confirmPassword() {
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;
        if (!pw1 || !pw2) {
            alert('Password and Confirmation fields must be filled in.');
            return false;
        }
        if (pw1 === pw2) {
            return true;
        } else {
            alert('Passwords do not match.');
            return false;
        }
    }

    function confirmDNI(){
        var numero, letr, letra, expresion_regular_dni;
        var dni = document.getElementById('dni').value;
        expresion_regular_dni = /^\d{8}[a-zA-Z]$/;

        if(expresion_regular_dni.test (dni) == true){
            numero = dni.substr(0,dni.length-1);
            letr = dni.substr(dni.length-1,1);
            numero = numero % 23;
            letra='TRWAGMYFPDXBNJZSQVHLCKET';
            letra=letra.substring(numero,numero+1);
            if (letra!=letr.toUpperCase()) {
                alert('Dni erroneo, la letra del NIF no se corresponde');
                return false;
            }else{
                return true;
            }
        }else{
            alert('Dni erroneo, formato no válido');
            return false;
        }
    }
</script>

    </form>
    </form>
