<h1 class="loginWelcomeMessage">
                Regístrate:
            </h1>

            <form method="post" action="/users">
<div>
        <% if ( !user.id) { %>
         <label for="name"><span>Nombre</span>
         <input type="text" class="customInput" id="name" name="name" value="<%= user.name %>" required placeholder="Introduce tu nombre" autocomplete="off"/> </label>
        <% } else { %>Nombre: <%= user.name %><% } %>
</div>
<br />
<div>
        <% if ( !user.id) { %>
         <label for="surname"><span>Apellidos</span>
        <input type="text" class="customInput" id="surname" name="surname" value="<%= user.surname %>" required placeholder="Introduce tus apellidos" autocomplete="off"/>
        <% } else { %>Apellidos: <%= user.surname %><% } %></label>
</div>
<br />
<div>
        <% if ( !user.id) { %>
        <label for="gender"><span>Género</span>
        <select  required class="customInput" id="gender" name="gender" value="<%= user.gender %>" placeholder="Selecciona tu género" autocomplete="off">
            <option value="" disabled selected></option>
            <option value="Femenino">Mujer</option>
            <option value="Masculino">Hombre</option>
            <option value="Otro">Otro</option>
        </select></label>
        <% } else { %>Género: <%= user.gender %><% } %>
</div>
<br />
<div>
        <% if ( !user.id) { %>
        <label for="username"><span>Email</span>
        <input type="email" class="customInput" id="username" name="username" value="<%= user.username %>" required placeholder="Introduce tu email" autocomplete="off"/></label>
        <% } else { %>Email: <%= user.username %><% } %>
</div>
<br />
<div>
        <label for="user_password"><span>Contraseña</span>
        <input type="password" class="customInput" id="user_password" name="password" required placeholder="Introduce tu contraseña" autocomplete="off"/></label>
</div>
<br />
<div>
        <label for="user_confirm_password"><span>Confirmar contraseña</span>
        <input type="password" class="customInput" id="user_confirm_password" required placeholder="Introduce tu contraseña" autocomplete="off"/></label>
</div>
<br />

<button class="registro" type="submit" value="Save" onclick="return confirmPassword()">regístrate</button>
<br />
<br />
<a class="login" href="/">¿Ya tienes cuenta?</a>

<script>
    function confirmPassword() {
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;
        if (!pw1 || !pw2) {
            alert('Password and Confirmation fields must be filled in.');
            return false;
        }
        if (pw1 === pw2) {
            return true;
        } else {
            alert('Passwords do not match.');
            return false;
        }
    }
</script>

    </form>