<script>
    function confirmPassword() {
        var pw1 = document.getElementById('user_password').value;
        var pw2 = document.getElementById('user_confirm_password').value;
        if (!pw1 || !pw2) {
            alert('Password and Confirmation fields must be filled in.');
            return false;
        }
        if (pw1 === pw2) {
            return true;
        } else {
            alert('Passwords do not match.');
            return false;
        }
    }
</script>

<div>
        <% if ( !user.id) { %>
         <label for="name">Nombre:</label>
         <br />
         <input type="text" id="name" name="name" value="<%= user.name %>" placeholder="Introduce tu nombre" autocomplete="off"/>
        <% } else { %>Nombre: <%= user.name %><% } %>
</div>
<br />
<div>
        <% if ( !user.id) { %>
         <label for="surname">Apellidos:</label>
        <br />
        <input type="text" id="surname" name="surname" value="<%= user.surname %>" placeholder="Introduce tus apellidos" autocomplete="off"/>
        <% } else { %>Apellidos: <%= user.surname %><% } %>
</div>
<br />
<div>
        <% if ( !user.id) { %>
        <label for="gender">Género:</label>
        <br />
        <input type="text" id="gender" name="gender" value="<%= user.gender %>" placeholder="Selecciona tu género" autocomplete="off"/>
        <% } else { %>Género: <%= user.gender %><% } %>
</div>
<br />
<div>
        <% if ( !user.id) { %>
        <label for="username">Email:</label>
        <br />
        <input type="email" id="username" name="username" value="<%= user.username %>" placeholder="Introduce tu email" autocomplete="off"/>
        <% } else { %>Email: <%= user.username %><% } %>
</div>
<br />
<div>
        <label for="user_password">Contraseña:</label>
        <br />
        <input type="password" id="user_password" name="password" placeholder="Introduce tu contraseña" autocomplete="off"/>
</div>
<br />
<div>
        <label for="user_confirm_password">Confirmar contraseña:</label>
        <br />
        <input type="password" id="user_confirm_password" placeholder="Introduce tu contraseña" autocomplete="off"/>
</div>
<br />

<button class="registro" type="submit" value="Save" onclick="return confirmPassword()">regístrate</button>
<br />
<br />
<a class="login" href="/">¿Ya tienes cuenta?</a>