<h1>
    Users
</h1>

<table>
    <% for (var i in users) { %>
        <tr>
            <td>
                <a href="/users/<%= users[i].id %>" ><%= users[i].username %></a>
                <%= users[i].isAdmin ? "(admin)" : "" %>
            </td>
            <% if (session.user) { %>
                <% if (session.user.isAdmin || session.user.id === users[i].id) { %>
                    <td>
                        <a href="/users/<%= users[i].id %>/edit"><button>edit</button></a>
                    </td>
                <%  } %>
                <% if (session.user.isAdmin && session.user.id !== users[i].id) { %>
                    <td>
                        <a href="/users/<%= users[i].id %>?_method=DELETE"
                           onClick="return confirm('Delete user: <%= users[i].username %>');">
                            <button>delete</button>
                        </a>
                    </td>
                <%  } %>
            <% } %>
        </tr>
    <%  } %>
</table>
