
<div class="main">
    <h1>
        Usuario:
    </h1>

    <ul>
        <li>
            E-mail:
            <b><%= user.username %></b>
        </li>

        <li>
            Rol:
            <b><%= user.isStudent ? "Estudiante" : "Profesor" %></b>
        </li>
        <% if(user.isAdmin) {%>
        <li>
            <b>Administrador</b>: Sí
        </li>
        <% } %>

    </ul>

    <% if (session.user) { %>
    <p>
        <% if (session.user.isAdmin || session.user.id === user.id) { %>
        <a href="/users/<%= user.id %>/edit">
            <button type="button"> Edit</button>
        </a>
        <% } %>
        <% if (session.user.isAdmin && session.user.id !== user.id) { %>
        <a href="/users/<%= user.id %>?_method=DELETE">
            <button type="button"
                    onClick="return confirm('Delete user: <%= user.username %>');">
                Delete
            </button>
        </a>
        <% } %>
    </p>
    <% } %>

    <a href="/goback"><button type="button">Go back</button></a>

</div>