<% include ../partials/_header.ejs %>
<div class="main student" style="display: flex; justify-content: center; align-items: center;">
    <div class="dialog" >
        <div style="font-size: xx-large;">
            </br>
            Seleccione un turno:
            </br>
            </br>
        </div>
        <%
        var monthArray = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
        var zeroPadding = function(hour) {
            if (hour < 10) {
                return "0" + hour;
            }
            return hour;
        }
        var formatDate = function(currentDate) {
            return currentDate.getDate() + " de " + monthArray[currentDate.getMonth()] + " de " + currentDate.getFullYear();
        }
        var formatTime = function(currentDate) {
            return zeroPadding(currentDate.getHours()) + ":" + zeroPadding(currentDate.getMinutes());
        }
        var pastDates = [];
        %>

        <div>
            <% for (var i in turnos) { %>
                <% 	var turn = turnos[i];
                    var date = new Date(turn.date);
                    var dateNoTime = new Date(turn.date);
                    dateNoTime.setHours(0,0,0,0); %>
                <%	if (pastDates.indexOf(dateNoTime.getTime()) === -1) {
                    pastDates.push(dateNoTime.getTime()); %>
        </div>
        <a href="/turnos/<%= turn.id %>/addParticipant?_method=PUT">
        <p class="turno-date-title-show"><%=formatDate(dateNoTime)%></p>
        <div class="flexBoxTurnos">
            <%}%>
            <div class="turno" data-date="<%=dateNoTime.getTime()%>">
                <div class="hora">
                    <%= formatTime(date) %>
                </div>
                <div class="indications">
                    <% if (turn.indications) { %>
                        <%= turn.indications %> <br/>
                    <% } else { %>
                        <em class="no-indications"> Sin indicaciones</em>
                    <% } %>
                </div>
            </div>
            <%}%>
        </div>
        <div class="join-button-flex-container">
            <div>
                <button class="deleteButton" style="display:inline-block;">cancelar</button>
            </div>
            <div>
                <button class="aceptButton" type="submit" style="display:inline-block;">continuar</button>
            </div>
        </a>
        </div>
    </div>
</div>
