<% include ../escapeRooms/_header.ejs %>
<div class="main student" style="display: flex; justify-content: center; align-items: center;">
    <div style="background-color: #2A2A52; width: 50%; text-align: center" >
        <div style="font-size: xx-large;">
            </br>
            Seleccione un turno:
            </br>
            </br>
        </div>
        <%
        var monthArray = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
        var zeroPadding = function(hour) {
            if (hour < 10) {
                return "0" + hour;
            }
            return hour;
        }
        var formatDate = function(currentDate) {
            return currentDate.getDate() + " de " + monthArray[currentDate.getMonth()] + " de " + currentDate.getFullYear();
        }
        var formatTime = function(currentDate) {
            return zeroPadding(currentDate.getHours()) + ":" + zeroPadding(currentDate.getMinutes());
        }
        var pastDates = [];
        %>

        <div>
            <% for (var i in turnos) { %>
                <% 	var turn = turnos[i];
                    var date = new Date(turn.date);
                    var dateNoTime = new Date(turn.date);
                    dateNoTime.setHours(0,0,0,0); %>
                <%	if (pastDates.indexOf(dateNoTime.getTime()) === -1) {
                    pastDates.push(dateNoTime.getTime()); %>
        </div>

        <p class="turno-date-title-show"><%=formatDate(dateNoTime)%></p>

        <form method="POST" action="/users/<%= session.user.id %>/participants/<%= turn.id %>?_method=put">

        <div class="flexBoxTurnos">
            <%}%>
            <div class="turno" data-date="<%=dateNoTime.getTime()%>">
                <div class="hora">
                    <%= formatTime(date) %>
                </div>
                <div class="indications">
                    <% if (turn.indications) { %>
                        <%= turn.indications %> <br/>
                    <% } else { %>
                        <em class="no-indications"> Sin indicaciones</em>
                    <% } %>
                </div>
                <button type="submit" class="little-button more"><i class="material-icons">add</i></button>
            </div>

            <%}%>
        </div>
        </form>
        <div style="margin-bottom:50px; margin-left: 150px; float:left">
            <button class="deleteButton" style="display:inline-block;">cancelar</button>
        </div>
        <div style="margin-bottom:50px; margin-right:0px; margin-left:30px;float:left">
            <button class="aceptButton" type="submit" style="display:inline-block;">continuar</button>

        </div>

    </div>
</div>
