<html>
<head>
    <meta charset="utf-8">
    <title>Escape room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/bootswatch/<%=escapeRoom.appearance%>.bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">
    <link rel="stylesheet" href="/stylesheets/play.css">

</head>
<body>
<a class="backToMain" href="/escapeRooms/<%=escapeRoom.id%>">🡄</a>
<div class="previewContainer">
    <div class="container">
    <h1><%=escapeRoom.title%></h1>
        <div class="row" style="justify-content: center;">
                <% if (escapeRoom.video) { %>
                    <% if (parseURL(escapeRoom.video)) { %>
                    <iframe id="previewVideoContent" width="560" height="315" style="max-width: 100%;" src="<%=parseURL(escapeRoom.video)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <% } else { %>
                    <video id="previewVideoContent" width="560" height="315" style="max-width: 100%;" src="<%= escapeRoom.video %>">"></video>
                    <% } %>
                <% } else if (escapeRoom.attachment) { %>
                    <div class="previewImage">
                        <% var attachment = escapeRoom.attachment; %>
                        <%- include("../../attachments/_show", {attachment})%>
                    </div>
                <% } %>

        </div>
        <br/>
        <br/>
        <div class=" row-centered">
            <div class="col-xs-12 text-left ql-editor instructionsShow">
                <%if (escapeRoom.instructions) {%>
                    <%-escapeRoom.instructions %>
                <%} else {%>
                    <p><%=escapeRoom.description%></p>
                <%}%>
            </div>
        </div>
        <% if (escapeRoom.hintApp) {%>
        <div class=" row-centered">
            <div class="col-xs-12">
                    <button onclick="previewHintApp()" class="btn btn-primary">
                        ¿Necesitas una pista?
                    </button>
            </div>
        </div>
        <% } %>

        <div class=" row-centered">
            <div class="col-xs-12">
            <% include ../../partials/_countdown.ejs %>
            <button type="button" class="btn btn-warning">finish</button>
            </div>
        </div>
    </div>
</div>
<script>
    var escapeRoomId = "<%= escapeRoom.id%>";
</script>
<script src="/js/handleHintApp.js"></script>
</body>
</html>